html
  head
    title= title
  body
    p="name: " + name
    div 
    p="ingredients: " + ingredients
    div
    p="instructions: " + instructions

    <h4>Name</h4> 
    <input type="text" id="name-text">
    <h4>Ingredients</h4>
    <textarea id="ingredients-text"></textarea>
    <button id="add-ingredient" type="button">Add ingredient</button>
    <h4>instructions</h4>
    <textarea id="instructions-text"></textarea>
    <button id="add-instruction" type="button">Add instruction</button>
    <button id="submit" type="submit">Submit</button>